<ul>
  <% @list.each do |bookmark| %>
    <li> <a href="<%=bookmark.url%>"> <%= bookmark.title %></a>
    <form action="/delete" method="post">
      <button name="id" type="submit" value="<%=bookmark.id%>">Delete</button>
    </form>

    <form action='/bookmarks/<%= bookmark.id %>/update' method='get'>
      <button name="id" type="submit" value="<%=bookmark.id%>">Update</button>
    </form>

    <form action='/bookmarks/<%= bookmark.id %>/comment' method='get'>
      <button name="id" type="submit" value="<%=bookmark.id%>">Comment</button>
    </form>

    </li>
  <% end %>
</ul>

<form action="/" method="get">
  <input type="submit" value="Back to home">
</form>